[Unit]
Description=Check Restic Backup Status
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/restic-check-status.sh

[Install]
WantedBy=multi-user.target
